:root{
    --color1: hsl(257, 40%, 49%);
    --color2: hsl(300, 69%, 71%);
    --color3: white;
    --family1: 'Poppins', sans-serif;
    --family2: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: var(--color1);
    color: var(--color3);
}

.container{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Landing Page */
#header{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 45%;
   
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    width: 84%;
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.header__logo{
    width: 100%;
    height: 100%;

    padding: 2.5em 0;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-basis: 20%;
}

.header__logo img{
    width: 50%;
    max-width: 250px;
}

.header__ilustration{
    width: 100%;
    height: 100%;

    padding: 1em 0 2em 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 80%;
}

.header__ilustration img{
    width: 100%;
    max-width: 625px;
    max-height: 450px;
    object-fit: cover;
}

#main{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 45%;
}

.main{
    width: 84%;
    height: 100%;
}

.main__info{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    text-align: center;
    padding: 2em 0;
}

.main__info h1{
    max-width: 400px;
    letter-spacing: -2px;
    line-height: 1.2em;
    font-family: var(--family1);
}

.main__info p{
    max-width: 304px;
    margin: 1.5em 0;
    line-height: 1.5em;
    font-family: var(--family2);
}

.main__info button{
    width: 225px;
    height: 50px;

    border: none;
    border-radius: 2em;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.603);
    cursor: pointer;

    color: var(--color1);
    font-family: var(--family2);
    background-color: var(--color3);

    transition: .3s ease;
}

.main__info button:hover{
    background-color: var(--color2);
    color: var(--color3);
}

#footer{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
}

.footer{
    width: 84%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2.5em 0 4em;
}

.footer__links{
    width: 60%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.footer__links a{
    padding: 1em;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    text-decoration: none;
    color: var(--color3);

    border: .1em solid var(--color3);
    border-radius: 50%;
    cursor: pointer;

    transition: .3s ease;
}

.footer__links a:hover{
    color: var(--color2);
    border-color: var(--color2);
}
/* End Landing Page */

@media only screen and (min-width: 768px){
    body{
        background-image: url(../images/bg-desktop.svg);
    }
    #header{
        flex-basis: 15%;

        background-image: none;
    }

    .header{
        width: 90%;
        max-width: 1400px;        
    }

    .header__ilustration{
        display: none;
    }

    #main{
        flex-basis: 70%;
    }

    .main{
        width: 90%;
        max-width: 1400px;              
    }

    #footer{
        flex-basis: 15%;
    }

    .footer{
        width: 90%;
        max-width: 1400px;
    }
}